<html>

  <head> 
    <title> <%= title %> </title>
    <link href = "/css/layout.css"></link>
    <%- style %>
  </head>

  <body>
    <%- include('header'); %>  
	<%- body %>                      
	<%-include('footer') %>
   <%- script %>
  </body>

 </html>